#snowflakeContainer {
  position: absolute;
  left: 0px;
  top: 0px;
  display: none;
}

.snowflake {
  position: fixed;
  background-color: purple;
  user-select: none;
  z-index: 1000;
  pointer-events: none;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}
